# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/.cache/clangd/index/

build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/

build/Desktop_Qt_6_8_2-Debug/

Build-Debug-5.15.2/

Build-Debug-6.9.1/

Build-Release-5.15.2/.qtc_clangd/.cache/clangd/index/

Build-Release-5.15.2/.qtc_clangd/

Build-Release-6.9.1/.qtc_clangd/.cache/clangd/index/

Build-Release-6.9.1/.qtc_clangd/

Build-Release-6.9.1/
